/* Create Poll Section */

.create_poll_section {
    margin-bottom: 100px;
}

.create_poll_form button {
    border-radius: 10px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    height: 30px;
    width: 200px;
    font-family: Nunito;
    transition: 0.2s linear;
}

.create_poll_form button:hover {
    cursor: pointer;
    scale: 0.98;
}

/* Poll Section */

.poll_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.poll_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.poll_section button {
    border-radius: 10px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    height: 30px;
    font-family: Nunito;
    transition: 0.2s linear;
}

.poll_section button:hover {
    cursor: pointer;
    scale: 0.98;
}

.poll_card {
    padding: 20px;
    border-radius: 5%;
    box-shadow: rgba(202, 11, 11, 0.456) 0px 8px 24px;
}

.poll_card p {
    margin-top: 10px;
}