/* Poll Section */

.poll_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.poll_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.poll_section button {
    border-radius: 10px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    height: 30px;
    font-family: Nunito;
    transition: 0.2s linear;
}

.poll_section button:hover {
    cursor: pointer;
    scale: 0.98;
}

.poll_card {
    padding: 20px;
    overflow-wrap: break-word;
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: rgba(202, 11, 11, 0.456) 0px 8px 24px;
}

.poll_card p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Vote Form */

.vote_form {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
}

.vote_form button {
    margin-top: 5px;
}

/* Increases height of description field */

.poll-description {
    resize: none;
    border: 0.8px solid black;
    border-radius: 6px;
    font-family: Nunito;
    height: 100px;
    width: 200px;
}
