nav {
    width: 100%;
    min-height: 2rem;
    padding: 0 2rem;
    background-color: var(--accent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.left-align-in-navbar {
    display: flex;
    gap: 2rem;
    flex-grow: 1;
}

/* All other buttons than poll-associated buttons */
button {
    border-radius: 10px;
    border: none;
    background-color: var(--userbutton-color);
    color: white;
    height: 30px;
    font-family: Nunito;
    transition: 0.2s linear;
    justify-self: flex-end;
}

button:hover {
    cursor: pointer;
    scale: 0.95;
}

.user-form {
    margin: 0 0 2rem 0;
}
